<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>中标贷</title>
    <link rel='stylesheet' href='/creditmobile/base/css/ionic/ionic.css' />
    <link rel='stylesheet' href='/creditmobile/css/common.css' />
    <script src="/creditmobile/base/lib-flexible/0.3.4/??flexible.js,flexible_css.js"></script>
    <script src="/creditmobile/base/js/??sea.js,seajs-css.js,seajs-combo.js,seajs-config.js,bootstrap.js"></script> 
  </head>
  <body>
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-credit">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>       
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
  </body>
</html>
